**/data
**/*.bin
**/*bin
.vscode/
**/**.csv
**/*.zip
**/dataset
**/**.txt
**/**.so
**/**.o
**/*-INFO
**/**.egg
**/**.pyc
**/__pycache__
**/**.log
**/**.pt
**/**.npy
**/**.npz
**/**.json
**/models/
**/**.pkl
**/**.pt
**/build/
# **/TEST/