**/data
**/*.bin
**/*bin
.vscode/
**/**.csv
**/*.zip
**/dataset
**/**.so
**/**.o
**/*-INFO
**/**.egg
**/**.pyc
**/__pycache__
**/**.log
**/**.pt
**/**.npy
**/**.npz
**/**.json
**/models/
**/**.pkl
**/**.pt
**/build/
**/dist/
**/TEST/
**/CMakeFiles/
**/CmakeCache.txt
**/cmake_install.cmake
**/**.pth
**/tmp
**/log
build.txt
**/*.egg-info/*.txt
**/**_log.txt
**/**.lst
**/**.class
**/**.jar